body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.main-nav {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  background-color: white;
}

main.container {
  background-color: white;
}

.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.reasons {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
}

.reason-header {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: white;
}

.reason-text, .reason-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: white;
}

.reason-left-to-right .left-column, .reason-right-to-left .right-column {
  background-color: #81b3d2;
}

.advice-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: black;
}

.advice-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.reasons-list {
  background-color: #eeeeee;
}

.reason-subtitle {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: black;
}

.reason-item .reason-number, .reason-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.interest b {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: black;
}

.interest p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.interest .btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  background-color: #766357;
}

.form-popup {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.form-popup input {
  background-color: #f2f2f2;
}

.form-popup input[type="submit"] {
  background-color: #81b3d2;
  color: white;
}

.form-popup .control-icon {
  color: #a9a9a9;
}

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
}

.main-footer .col-left {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.main-footer .col-right {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: black;
}

.main-footer .social li {
  background-color: #81b3d2;
  color: white;
}

.filter {
  background: url(../img/intro-background.jpg) no-repeat;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: white;
}

.filter label, .filter input[type="submit"] {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: white;
}

.sort .founded {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.sort .sort-header {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: black;
}

.sort .sorted-by-item {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
  text-decoration: none;
}

.sort .sorted-by-item.active {
  color: #81b3d2;
  border-bottom: none;
}

.sort .sort-direction li {
  color: #cacaca;
}

.sort .sort-direction .active {
  color: #81b3d2;
}

.results .result-item {
  border: solid 2px #e5e5e5;
}

.result-item .star-icon {
  color: #81b3d2;
}

.result-item .hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.result-item .params {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.result-item .buttons {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: white;
}

.result-item .buttons .more-info {
  background-color: #81b3d2;
}

.result-item .buttons .order {
  background-color: #766357;
}

.result-item .rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  background-color: #f7f7f7;
}


