body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav ul {
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.main-nav a {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.main-nav .active {
  color: #766357;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3)
}

main.container {
  background-color: white;
}

.intro {
  position: relative;
}

.intro .mask {
  position: absolute;
  bottom: 210px;
}

.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.reasons {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
}

.reason-header {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.reason-text, .reason-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: white;
  text-align: center;
}

.reason-left-to-right .left-column, .reason-right-to-left .right-column {
  background-color: #81b3d2;
  text-align: center;
  width: 33%;
}

.reason-left-to-right, .reason-right-to-left {
  background-color: #81b3d2;
  text-align: center;
  display: flex;
}

.reason-right-to-left .right-column {
  order: 1;
}

.advices ul {
  display: flex;
}

.advice-item {
  text-align: center;
  width: 33%;
}

.advice-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: black;
}

.advice-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.reasons-list {
  background-color: #eeeeee;
  text-align: center;
}

.reasons-list ul {
  display: flex;
}

.reason-subtitle {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: black;
}

.reason-item .reason-number, .reason-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.interest {
  text-align: center;
}

.interest b {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: black;
}

.interest p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.interest .btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  background-color: #766357;
}

.interest .btn:hover {
  background-color: #604e43;
}

.interest .btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  position: relative;
}

.form-popup {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  position: absolute;
  width: 570px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: white;
}

.form-popup form {
  display: flex;
  flex-direction: column;
}

.form-popup input {
  background-color: #f2f2f2;
  border: solid #e5e5e5 2px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
}

.form-popup input:hover {
  background-color: #ebebeb;
}

.form-popup input:focus {
  background-color: white;
}

.form-popup input[type="submit"] {
  background-color: #81b3d2;
  color: white;
  border: none;
}

.form-popup input[type="submit"]:hover {
  background-color: #669ec0;
}

.form-popup input[type="submit"]:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.form-popup .control-icon svg {
  fill: #a9a9a9;
}

.form-popup .control-icon:hover svg {
  fill: black;
}

.form-popup .control-icon:active svg {
  fill: #81b3d2;
}

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
  display: flex;
  justify-content: space-around;
}

.main-footer .col-left {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.main-footer .col-left a {
  color: inherit;
}

.main-footer .col-right {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: black;
}

.main-footer .copyright svg {
  fill: #231f20;
}

.main-footer .copyright:hover svg {
  fill: #81b3d2;
}

.main-footer .copyright:active svg {
  fill: #bdbbbc;
}

.main-footer .social {
  display: flex;
  justify-content: space-around;
}

.main-footer .social a {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #81b3d2;
}

.main-footer .social svg {
  fill: white;
}

.main-footer .social a:hover {
  background-color: #669ec0;
}

.main-footer .social a:active {
  background-color: #5496bd;
}

.main-footer .social a:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.filter {
  background-image: url(../img/filter-background.jpg);
  background-size: cover;
}

.filter form {
  display: flex;
  justify-content: space-around;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: white;
}

.filter fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.filter input[disabled] {
  color: #6a6a6a;
}

.filter label, .filter input[type="submit"] {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: white;
  background-color: transparent;
}

.filter input[type="submit"] {
  border: solid 2px white;
}

.filter input[type="submit"]:hover {
  background-color: white;
  color: black;
}

.sort {
  display: flex;
}

.sort .sorted-by {
  display: flex;
}

.sort .founded {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.sort .sort-header {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: black;
}

.sort .sorted-by-item {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
  text-decoration: none;
}

.sort .sorted-by-item.active {
  color: #81b3d2;
  border-bottom: none;
}

.sort .sorted-by-item:hover {
  color: #81b3d2;
}

.sort .sorted-by-item:active {
  color: black;
}

.sort .sort-direction {
  display: flex;
}

.sort .sort-direction svg {
  fill: #cacaca;
}

.sort .sort-direction .active svg {
  fill: #81b3d2;
}

.sort-direction a:hover svg {
  fill: #231f20;
}

.sort-direction a:active svg {
  fill: #81b3d2;
}

.results .result-item {
  border: solid 2px #e5e5e5;
  display: flex;
}

.result-item .hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.result-item .hotel-name a:hover {
  color: #81b3d2;
}

.result-item .hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.result-item .params {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.result-item .buttons .btn {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: white;
}

.result-item .buttons .more-info {
  background-color: #81b3d2;
}

.result-item .buttons .more-info:hover {
  background-color: #669ec0;
}

.result-item .buttons .more-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.result-item .buttons .order {
  background-color: #766357;
}

.result-item .buttons .order:hover {
  background-color: #604e43;
}

.result-item .buttons .order:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.result-item .rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  background-color: #f7f7f7;
}

.result-item .star-icon {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url(../img/star-icon.svg);
}


