body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
}


.main-nav ul {
  background-color: white;
  display: flex;
}

.main-nav li {
  width: 20%;
}

.main-nav li:nth-child(2) {
  margin-right: auto;
}

.main-nav .menu-elem {
  display: block;
  font-size: 14px;
  line-height: 56px;
  font-weight: bold;
  color: black;
  vertical-align: middle;
  padding-left: 72px;
}

.main-nav li:nth-last-child(2) a, .main-nav li:last-child a {
  text-align: right;
  padding-right: 72px;
  padding-left: 0;
}

.main-nav .main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.main-nav .active {
  color: #766357;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3)
}

main.container {
  background-color: white;
}

.intro {
  position: relative;
}

.intro .intro-background {
  /*object-fit: cover;*/
  /*object-position: 50% -60px;*/
}

.intro:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url(../img/intro-mask.png);
  background-position-x: 50%;
}

.intro:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 458px;
  height: 352px;
  background-image: url(../img/letters-intro.png);
}

.lead {
  padding-top: 61px;
  padding-bottom: 56px;
}

.lead p {
  width: 490px;
  margin: 0 auto;
}

.lead .slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 38px;
}

.lead .reasons {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
}

.reason-header {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.reason-text, .reason-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: white;
  text-align: center;
}

.reason-left-to-right .left-column, .reason-right-to-left .right-column {
  background-color: #81b3d2;
  text-align: center;
  width: 33%;
  padding: 40px 60px 60px;
}

.reason-left-to-right img, .reason-right-to-left img {
  display: block;
}

.reason-left-to-right, .reason-right-to-left {
  display: flex;
}

.reason-right-to-left .right-column {
  order: 1;
}

.advices ul {
  display: flex;
}

.advice-item {
  text-align: center;
  width: 33%;
  padding: 60px 50px;
}

.advice-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: black;
}

.advice-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.reasons-list {
  background-color: #eeeeee;
  text-align: center;
}

.reasons-list ul {
  display: flex;
}

.reason-subtitle {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: black;
}

.reasons-list .reason-item {
  padding: 50px 70px 60px;
  width: 33%;
}

.reason-item .reason-number, .reason-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.interest {
  text-align: center;
  padding-top: 50px;
}

.interest b {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: black;
}

.interest p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.interest .btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  background-color: #766357;
  width: 510px;
  padding: 30px;
  display: inline-block;
  margin-top: 50px;
}

.interest .btn:hover {
  background-color: #604e43;
}

.interest .btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  position: relative;
}

.form-popup {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  position: absolute;
  width: 460px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: white;
  padding: 55px;
}

.form-popup form {
  /*display: flex;*/
  /*flex-direction: column;*/
}

.form-popup label {
  display: flex;
  justify-content: space-between;
  line-height: 38px;
  vertical-align: middle;
  margin-bottom: 30px;
  position: relative;
}

.adults-number {
  width: 225px;
}

.children-number {
  width: 170px;
}

.form-popup input {
  background-color: #f2f2f2;
  border: solid #f2f2f2 2px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
}

.form-popup input:hover {
  background-color: #ebebeb;
  border: solid #ebebeb 2px;
}

.form-popup input:not([type="button"]):focus {
  background-color: white;
  border: solid #f2f2f2 2px;
  outline: none;
}

.form-popup input[type="date"] {
  /*position: absolute;*/
  /*left: 110px;*/
  width: 330px;
  /*line-height: 36px;*/
  /*vertical-align: middle;*/
  padding-left: 12px;
}

.form-popup .buttons-wrapper {
  display: inline-block;
  /*position: absolute;*/
  font-size: 0;
}

.form-popup .buttons-wrapper:first-of-type {
  /*left: 110px;*/
}

.form-popup .buttons-wrapper:last-of-type {
  /*right: 0;*/
}

.form-popup input[type="number"], .form-popup input[type="button"] {
  width: 36px;
  line-height: 36px;
  vertical-align: middle;
  font-size: 14px;
}

.form-popup input[type="button"] {
  color: #a9a9a9;
}

.form-popup input[type="button"]:focus {
  outline: none;
}

.form-popup input[type="button"]:active {
  background-color: #f2f2f2;
  border: solid #f2f2f2 2px;
}

.form-popup input[type="submit"] {
  background-color: #81b3d2;
  color: white;
  border: none;
  height: 58px;
  width: 100%;
}

.form-popup input[type="submit"]:hover {
  background-color: #669ec0;
}

.form-popup input[type="submit"]:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.form-popup .control-icon svg {
  fill: #a9a9a9;
}

.form-popup .control-icon:hover svg {
  fill: black;
}

.form-popup .control-icon:active svg {
  fill: #81b3d2;
}

.form-popup .control-icon.calendar {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 22px;
  cursor: pointer;
}

.form-popup .peoples {
  border: none;
  padding: 0;
  /*margin-bottom: 55px;*/
  /*position: relative;*/
  display: flex;
  justify-content: space-between;
}

.form-popup .peoples label:nth-of-type(2) {
  /*margin-left: 200px;*/
}

.map-static {
  background-image: url(../img/map.jpg);
  width: 1200px;
  height: 593px;
}

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.main-footer.index-footer {
  margin-top: -118px;
}

.main-footer .col-left {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  width: 240px;
  text-align: center;
}

.main-footer a {
  color: inherit;
}

.main-footer .col-right {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: black;
  width: 240px;
}

.main-footer .copyright {
  display: inline-block;
  vertical-align: middle;
}

.main-footer .copyright svg {
  fill: #231f20;
}

.main-footer .copyright:hover svg {
  fill: #81b3d2;
}

.main-footer .copyright:active svg {
  fill: #bdbbbc;
}

.main-footer .social {
  display: flex;
  justify-content: center;
  width: 240px;
}

.main-footer .social-elem {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #81b3d2;
  margin-right: 10px;
}

.main-footer .social svg {
  fill: white;
  vertical-align: middle;
}

.main-footer .social-elem:hover {
  background-color: #669ec0;
}

.main-footer .social-elem:active {
  background-color: #5496bd;
}

.main-footer .social-elem:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.filter {
  background-image: url(../img/filter-background.jpg);
  background-size: cover;
}

.filter form {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: white;
  margin-bottom: 25px;
}

.filter fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filter input[disabled] {
  color: #6a6a6a;
}

.filter label, .filter input[type="submit"] {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: white;
  background-color: transparent;
  margin-bottom: 20px;
}

.filter label:last-child {
  margin-bottom: 0;
}

.filter input[type="submit"] {
  border: solid 2px white;
}

.filter input[type="submit"]:hover {
  background-color: white;
  color: black;
}

.sort {
  display: flex;
  padding: 30px 70px;
  border-bottom: solid 1px #e5e5e5;
  align-items: center;
}

.sort .sorted-by {
  display: flex;
  width: 240px;
  justify-content: space-between;
  margin-right: auto;
}

.sort .founded {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.sort .sort-header {
  margin: 0 40px 0 30px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: black;
}

.sort .sorted-by-item {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
  text-decoration: none;
}

.sort .sorted-by-item.active {
  color: #81b3d2;
  border-bottom: none;
}

.sort .sorted-by-item:hover {
  color: #81b3d2;
}

.sort .sorted-by-item:active {
  color: black;
  border-bottom: none;
}

.sort .sort-direction {
  display: flex;
  width: 25px;
  justify-content: space-between;
}

.sort .sort-direction-elem svg {
  fill: #cacaca;
}

.sort .sort-direction-elem.active svg {
  fill: #81b3d2;
}

.sort .sort-direction-elem:hover svg {
  fill: #231f20;
}

.sort .sort-direction-elem:active svg {
  fill: #81b3d2;
}

.results .result-item {
  border-bottom: solid 1px #e5e5e5;
  display: flex;
  padding: 30px 70px;
}

.result-item .hotel-name-block {
  margin-top: 0;
  margin-bottom: 0;
}

.result-item .hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.result-item .hotel-name:hover {
  color: #81b3d2;
}

.result-item .hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.result-item .params-block {
  margin-left: 20px;
}

.result-item .params-block-wrapper {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  margin-top: 5px;
}

.result-item .params-price {
}

.result-item .params-type {
  margin-right: 10px;
}

.result-item .btn {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: white;
  padding: 7px 15px;
  margin-top: 5px;
}

.result-item .btn.more-info {
  background-color: #81b3d2;
}

.result-item .btn.more-info:hover {
  background-color: #669ec0;
}

.result-item .btn.more-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.result-item .btn.order {
  background-color: #766357;
}

.result-item .btn.order:hover {
  background-color: #604e43;
}

.result-item .btn.order:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.result-item .rating-block {
  text-align: right;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-item .rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  background-color: #f7f7f7;
  margin: 0;
}

.result-item .star-icon {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url(../img/star-icon.svg);
}

.filter-range {
  width: 330px;
  /*margin: 50px auto; !* для демо *!*/

  /*color: #ffffff;*/
  /*text-transform: uppercase;*/
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;

  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: -9px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  /*border: 2px solid white;*/
  /*border-radius: 2px;*/
  background: url(../img/checkbox-off.svg) no-repeat;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  /*border: 2px solid white;*/
  /*border-radius: 2px;*/
  background-image: url(../img/checkbox-on.svg);
}

/*.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,*/
/*.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {*/
/*content: "";*/

/*position: absolute;*/
/*top: 8px;*/
/*left: 1px;*/

/*width: 15px;*/
/*height: 2px;*/

/*background-color: white;*/
/*}*/

/*.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {*/
/*transform: rotate(45deg);*/
/*}*/

/*.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {*/
/*transform: rotate(-45deg);*/
/*}*/
